/* body{
  overflow-x: hidden;
} */
.land{
    background-image:url("https://st2.depositphotos.com/1684571/6470/i/950/depositphotos_64702939-stock-photo-pizza-with-seafood-on-wood.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:95vh;
    }
    .landoverlay{
    background-color:transparent;
    } 
    .logo img{
        width: 15%;
    }


    .logo{
        box-shadow: 3px 3px 5px transparent;
        width:100%;
    
    }
    .content h1{
    
        font-weight: bolder;
        padding-top: 10%;
        color:black;
        font-size: 50px;
        text-transform: uppercase;
        font-family: 'Cookie', cursive;
    }