/* body{
  overflow-x: hidden;
} */
.land{
    background-image:url("https://st2.depositphotos.com/1684571/6470/i/950/depositphotos_64702939-stock-photo-pizza-with-seafood-on-wood.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:95vh;
    }
    .landoverlay{
    background-color:transparent;
    } 
    .logo img{
        width: 15%;
    }


    .logo{
        box-shadow: 3px 3px 5px transparent;
        width:100%;
    
    }
    .content h1{
    
        font-weight: bolder;
        padding-top: 10%;
        color:black;
        font-size: 50px;
        text-transform: uppercase;
        font-family: 'Cookie', cursive;
    }
    nav ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color:rgba(173, 105, 16, 0.829);
      }
      nav{
        position:fixed;
        /* float: right; */
        padding-left: 70%;
      }
      
      li {
        float: right;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }